extends ../layout

block content
  .ui.grid.container
    .six.wide.column
      h3 Forgot Password
      form.ui.form(method='POST')
          input(type='hidden', name='_csrf', value=_csrf)
          label Enter your email address below and we will send you password reset instructions.
          .field
              input.form-control(type='email', name='email', id='email', placeholder='Email', autofocus, autocomplete='email', required)
          .form-group.offset-sm-3.col-md-7.pl-2
            button.ui.button(type='submit')
              i.fas.fa-key.fa-sm
              | Reset Password