extends ../layout

block content
  br
  a(href='/')
    button.btn-sm.btn.btn-secondary.mb-2.mt-2 👈 &nbsp;Go Back
  hr
  .container.mt-5
    .col-md-12.col-xs-7.col-lg-8
      h5.
          👋
          Enter your credentials to access all your files.
      form(method='POST').ui.form
          .form-group
            label Email
            input(type='hidden', name='_csrf', value=_csrf)
            input.form-control(type="email" name="email" placeholder="Email")
          .field
            label Password
            input.form-control(type="password" name="password" id='password' placeholder="Password")
            br
          button.btn.btn-secondary(type="submit") Submit
          a.btn.btn-link(href='/forgot') Forgot your password?
