extends ../layout

block content
    h3.ui.header Reset Password
  form.ui.form(method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .field
      label New Password
        input.form-control(type='password', name='password', id='password', placeholder='New password', autofocus, autocomplete='new-password', required)
    .field
      label Confirm Password
        input.form-control(type='password', name='confirm', id='confirm', placeholder='Confirm password', autocomplete='new-password', required)
    .field
      button.ui.button(type='submit')
        i.far.fa-keyboard.fa-sm
        | Change Password
