extends ../layout

block content
      br
      a(href='/')
        button.btn-sm.btn.btn-info.mb-2.mt-2 👈 &nbsp;Go Back
      hr
      .container.mt-5
          h4 👋 Register to begin saving and sharing your files!
          p Enter a few fields and begin the journey
          form(id='signup-form', method='POST')
            input(type='hidden', name='_csrf', value=_csrf)
            .form-group
              label Email
                input.form-control(type='email', name='email', placeholder='Email', autofocus, autocomplete='email', required)
            .form-group
              label Password
                input.form-control(type='password', name='password', placeholder='Password', autocomplete='new-password', required)
            .form-group
              label Confirm Password
                input.form-control(type='password', name='confirmPassword', placeholder='Confirm Password', autocomplete='new-password', required)
          button.btn.btn-info Register
