extends ../layout

block content
  .container(style='background-color:white;')
    .row
      .col-md-12.text-center
          img#imgg.img-fluid.max-width(src=`/image/`+shortid)
          br
          br
          a.btn.btn-info(href=`/f/`+shortid)
                | Download
