extends ../layout

block content
        if vfilename 
                .ui.container
                    img.ui.large.centered.image(src=`/image/`+vfilename)
                    .ui.header
                            | #{vfile.originalname}
                    .ui.segments
                        .ui.segment.center.aligned.red
                              a(href=`/f/`+vfilename) 
                                    | Download
                        .ui.segment.center.aligned.red
                            p Share
                        .ui.segment.center.aligned.green
                            p Copy URL



        else
                img.ui.small.image(src=`https://via.placeholder.com/300.png/09f/fff`)
        script.
            console.log(#{viewfile});
