if messages.errors
 .ui.grid
    .eight.wide.column
      .ui.negative.message
        i.close.icon
        .header
            | Error
        for error in messages.errors
          p= error.msg

if messages.info
 .ui.grid
    .eight.wide.column
      .ui.error.message
        i.close.icon
        .header
            | Info
        for info in messages.info
          div= info.msg

if messages.success
  .ui.grid
    .eight.wide.column
      .ui.success.message
        i.close.icon
        .header
          | Success: 
        for success in messages.success
          p= success.msg
