if messages.errors
  .container
    .col-md-6
      .alert.alert-dismissible.alert-danger
        button.close(type='button', data-dismiss='alert') ×
        strong Oh snap!
        for error in messages.errors
          p= error.msg

if messages.info
  .container
    .col-md-6
      .alert.alert-dismissible.alert-light
        button.close(type='button', data-dismiss='alert') ×
        strong Info:
        |
        for info in messages.info
          div= info.msg

if messages.success
  .container
    .col-md-6
      .alert.alert-dismissible.alert-success
        button.close(type='button', data-dismiss='alert') ×
        strong Success:
          for success in messages.success
            p= success.msg
