if user

  .container
    ul.nav.nav-tabs
      a.navbar-brand(href="/") Candyfiles
      li.nav-item
        a.nav-link(href="/library") Library
      li.nav-item
        a.nav-link(data-toggle='tab', href='/account') Profile
      li.nav-item
        a.nav-link(href='/logout') Logout

    .row
else
  | Go back
