
block content
    link(href="../../static/stylesheets/default.css" rel="stylesheet" type="text/css")
    link(href="../../static/stylesheets/pandoc-code-highlight.css" rel="stylesheet" type="text/css")
    script(src="../../static/dist/jquery/jquery.min.js")
    link(rel='stylesheet', href='https://bootswatch.com/4/minty/bootstrap.min.css')
    link(href="/css/flat.css", rel='stylesheet')
    title Candyfiles
    style(type='text/css').
      .pushable > .pusher {
        min-height: 0;
      }
      html {
        background-color:#fab1a0;
      }
      .main--header {
        font-size:30px;
        width:50vw
      }
    link(href="../../static/dist/semantic-ui/semantic.min.css" rel="stylesheet" type="text/css")
    link(href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css" rel="stylesheet")
    .ui.vertical.primary.sidebar.menu
      a.active.item Home
        //-   a.item Plans
      a.item Login
      a.item Signup
    .pusher
      .ui.masthead.center.aligned.segment
        .ui.container
          .ui.large.secondary.pointing.menu
            a.toc.item
              i.sidebar.icon
            a.item.btn.btn-secondary Home
            .right.item
              a.btn.mr-1.btn-secondary(href='/login') Log in
              a.btn.btn-secondary(href='/signup') Sign Up
        .ui.text.container.mt-3
            h1.display-1
              | Candyfiles
            h1.lead.main--header
              //- | Welcome to Candyfiles.
              br
              | We help you store your files like candy,
            a.btn.btn-secondary(href='/signup')
              | Register now
              i.right.arrow.icon
section.pricing.py-5.bg-secondary.slideInLeft.animated.center.align-content-md-center
    .container
      .row
        // Free Tier
        .col-lg-4
          .card.mb-5.mb-lg-0
            .card-body
              h5.card-title.text-muted.text-uppercase.text-center Free
              h6.card-price.text-center
                | $5
                span.period /month
              hr
              ul.fa-ul
                li
                  span.fa-li
                    i.fas.fa-check
                  | Single User
                li
                  span.fa-li
                    i.fas.fa-check
                  | 500MB Storage
                li
                  span.fa-li
                    i.fas.fa-check
                  | Unlimited Uploads
              form(action="/payment/charge" method="POST").m-auto
                script.stripe-button(src="https://checkout.stripe.com/checkout.js" data-zip-code="true" data-key="pk_test_3VSYWB8HlTqaYUtohpD2d1UX" data-amount="500" data-name="Comingsoon" data-description="Widget" data-image="/images/candy.jpeg" data-locale="auto")