extends layout

block content

    .ui.grid.container
        .eight.wide.column
            .ui.segment
                    if user
                        | Hello #{user.email}
                    else
                        | Hello Person