doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='theme-color' content='#4DA5F4')
    meta(name='csrf-token', content=_csrf)
    title #{title} - Candyfiles
    link(rel='shortcut icon', href='/favicon.png')
    //- link(rel='stylesheet', href='https://bootswatch.com/4/minty/bootstrap.min.css')
    link(rel='stylesheet', href='/css/style.css')

    link(href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet", integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN", crossorigin="anonymous")
    link(href="/css/bootstrap4-bubblegum.css", rel='stylesheet')
    meta(charset="utf-8")
    meta(content="PPType" name="Tyrese Williams")
    
    meta(content="#ffffff" name="theme-color")
    if user
      include partials/header

    .container
      include partials/flash
      block content

    include partials/footer

    script(src='/js/lib/jquery.min.js')
    script(src='/js/lib/bootstrap.min.js')
    script(src='/js/lib/popper.min.js')
    // Google Analytics: change UA-XXXXX-X to be your site's ID
    script.
    script(async="" src="https://www.googletagmanager.com/gtag/js?id=UA-84761800-4")
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-84761800-4');
      gtag('create', 'UA-84761800-4', 'auto');
      gtag('send', 'pageview');
        style(type='text/css').
                  .viewimage{
                    width:900px;
                    height:100%;
                  }
