extends layout

block content
    .ui.grid.container

            .twelve.wide.column
                form.ui.form(action="http://localhost:8080/library" method='POST' enctype="multipart/form-data")
                    .ui.mini.input
                        input(type="file" name="file")
                        input(type='hidden', name='_csrf', value=_csrf)
                        button.tiny.ui.button(type="submit" value="Submit")
                            | Submit
                    style(type='text/css').
                        a.link{
                            padding:0px 9px;
                            font-size:12.5px;
                        }
                        a.link:hover{
                            color:black;
                        }
                        a.link:nth-child(1):hover{
                            color:purple;
                        }

            .eight.wide.column
                .ui.middle.aligned.selection.list
                        each file in files
                            .item
                                    .header
                                        if file
                                            | #{file.originalname} 
                                        else
                                            | No Name
                                    .content
                                        if file
                                            |  Size: #{file.size}  Type: #{file.mimetype}
                                        else
                                            | None.
                                    .ui.action.mini.input
                                                if file
                                                    a.ui.secondary.mini.button(href=`http://localhost:8080/f/`+file.filename)
                                                            |   Download&nbsp;&nbsp;
                                                    a.link(href=`http://localhost:8080/v/`+file.filename)
                                                            |   View
                                                    a.link(href=`http://localhost:8080/s/`+file.id)
                                                            | Share
                                                else
                                                    | No file information.

